<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>สิริลักษณ์ ไอศครีม</title>
    <link rel="icon" type="image/png" href="asset/logoBlue.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"
        integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.3/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        *::-webkit-scrollbar {
            display: none;
        }

        * {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        #map {
            width: 300px;
            height: 300px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- navbar -->
        <nav class="navbar bg-info fixed-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="./">สิริลักษณ์ ไอศครีม</a>
            </div>
            <div v-if="page==1" class="container-fluid">
                <div class="d-flex flex-row" style="overflow-x: auto; cursor: pointer;">
                    <h4 class="p-0" style="white-space: nowrap;" @click="selectcateg('all')">
                        <span v-if="categ=='all'" class="badge text-bg-light">ทั้งหมด</span>
                        <span v-else class="badge text-bg-info">ทั้งหมด</span>
                    </h4>
                    <h4 v-for="item in categories" class="p-0" style="white-space: nowrap;" @click="selectcateg(item)">
                        <span v-if="categ==item" class="badge text-bg-light">{{item}}</span>
                        <span v-else class="badge text-bg-info">{{item}}</span>
                    </h4>
                </div>
            </div>
        </nav>

        <!-- product page -->
        <div v-if="page==1" class="container-fluid" style="margin-top: 100px; margin-bottom: 60px;">
            <div v-for="item in getProducts" class="mt-2">
                <div class="card" style="position: relative;">
                    <div class="card-body d-flex flex-row">
                        <div class="px-1">
                            <img :src="'https://lh3.googleusercontent.com/d/' + item.imgid"
                                style="width: 120px; height: 120px; object-fit: cover;">
                        </div>
                        <div class="px-1">
                            <h5 class="card-title">{{item.title}}</h5>
                            <div class="mb-4">{{item.detail}}</div>
                        </div>
                    </div>
                    <a class="btn btn-info" style="position: absolute; bottom: 5px; right: 5px;"
                        @click="selectproduct(item)">เพิ่มในตะกร้า</a>
                </div>
            </div>
        </div>

        <!-- cart page -->
        <div v-if="page==2" class="container-fluid" style="margin-top: 60px; margin-bottom: 60px;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">รายการ</th>
                        <th scope="col" class="text-center">จำนวน</th>
                        <th scope="col" class="text-end">ราคา</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="entrycart">
                        <th scope="row" colspan="4" class="text-center">ไม่พบรายการสินค้าในตะกร้า</th>
                    </tr>
                    <tr v-for="(item, index) in cart" style="cursor: pointer;" @click="edittiem(item, index)">
                        <th scope="row">
                            <img :src="'https://lh3.googleusercontent.com/d/' + item.imgid"
                                style="width: 30px; height: 30px; object-fit: cover;">
                        </th>
                        <td>{{item.title}}<br />{{item.options}}</td>
                        <td class="text-center">{{item.qty}}</td>
                        <td class="text-end">{{setFormat(item.price*item.qty)}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <th scope="col" colspan="3" class="text-end">รวม</th>
                    <th scope="col" class="text-end">{{setFormat(gettotal)}}</th>
                </tfoot>
            </table>
            <div class="text-end">
                <a v-if="entrycart" class="btn btn-info disabled me-2" aria-disabled="true">ยืนยันคำสั่งซื้อ</a>
                <a v-else class="btn btn-info me-2" @click="chkoutfrm">ยืนยันคำสั่งซื้อ</a>

                <a v-if="entrycart" class="btn btn-danger disabled" aria-disabled="true">ยกเลิกรายการทั้งหมด</a>
                <a v-else class="btn btn-danger" @click="clearcart">ยกเลิกรายการทั้งหมด</a>
            </div>
        </div>

        <!-- orders page -->
        <div v-if="page==3" class="container-fluid" style="margin-top: 60px; margin-bottom: 60px;">
            <div v-for="(oritem, orindex) in orders" class="mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{oritem.id}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{oritem.date}}</h6>
                        <p class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">รายการ</th>
                                    <th scope="col" class="text-center">จำนวน</th>
                                    <th scope="col" class="text-end">ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in oritem.items">
                                    <th scope="row"><img :src="'https://lh3.googleusercontent.com/d/'+item.imgid"
                                            style="width: 30px; height: 30px; object-fit: cover;" /></th>
                                    <td>{{item.title}}</td>
                                    <td class="text-center">{{item.qty}}</td>
                                    <td class="text-end">{{setFormat(item.qty*item.price)}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col" colspan="3" class="text-end">รวม</th>
                                    <td class="text-end">{{setFormat(oritem.total)}}</td>
                                </tr>
                                <tr>
                                    <th scope="col" colspan="3" class="text-end">ค่าจัดส่ง</th>
                                    <td class="text-end">{{setFormat(oritem.shippingprice)}}</td>
                                </tr>
                                <tr>
                                    <th scope="col" colspan="3" class="text-end">สุทธิ</th>
                                    <td class="text-end">{{setFormat(oritem.total+oritem.shippingprice)}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        </p>
                        <div class="text-end">
                            <a class="btn btn-info" @click="selectorder(oritem)">ดูข้อมูล</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Bottom -->
        <div class="container-fluid bg-light fixed-bottom">
            <div class="d-flex justify-content-around" style="cursor: pointer;">
                <h1 class="pt-2" @click="selectpage(1)">
                    <span v-if="page==1" class="badge text-bg-info">สินค้า</span>
                    <span v-else class="badge text-bg-light">สินค้า</span>
                </h1>
                <h1 class="pt-2" @click="selectpage(2)">
                    <span v-if="page==2" class="badge text-bg-info">ตะกร้า</span>
                    <span v-else class="badge text-bg-light">ตะกร้า</span>
                </h1>
                <h1 class="pt-2" @click="selectpage(3)">
                    <span v-if="page==3" class="badge text-bg-info">สั่งซื้อ</span>
                    <span v-else class="badge text-bg-light">สั่งซื้อ</span>
                </h1>
            </div>
        </div>

        <!-- orderModal -->
        <div class="modal fade" id="orderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title fs-5" id="orderModalLabel">รายการสั่ง</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>เลขที่สั่งซื้อ: {{order.id}}</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">รายการ</th>
                                    <th scope="col" class="text-center">จำนวน</th>
                                    <th scope="col" class="text-end">ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in order.items">
                                    <th scope="row"><img :src="'https://lh3.googleusercontent.com/d/'+item.imgid"
                                            style="width: 30px; height: 30px; object-fit: cover;" /></th>
                                    <td>{{item.title}}</td>
                                    <td class="text-center">{{item.qty}}</td>
                                    <td class="text-end">{{setFormat(item.qty*item.price)}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col" colspan="3" class="text-end">รวม</th>
                                    <td class="text-end">{{setFormat(order.total)}}</td>
                                </tr>
                                <tr>
                                    <th scope="col" colspan="3" class="text-end">ค่าจัดส่ง</th>
                                    <td class="text-end">{{setFormat(order.shippingprice)}}</td>
                                </tr>
                                <tr>
                                    <th scope="col" colspan="3" class="text-end">สุทธิ</th>
                                    <td class="text-end">{{setFormat(order.total+order.shippingprice)}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="card">
                            <div class="card-body">
                                <h4>ข้อมูลสำหรับการจัดส่ง</h4>
                                <div>ลุกค้า: {{order.username}}</div>
                                <div>จังหวัด: {{order.city}}</div>
                                <div>เขต/อำเภอ: {{order.zone}}</div>
                                <div style="white-space: pre-wrap;">ที่อยู่: {{order.address}}</div>
                                <div>วันที่: {{order.date}} เวลา: {{order.time}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <a v-if="order.status=='สั่งซื้อ'" class="btn btn-info" @click="showchgsqr">QR Code ชำระเงิน</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- chgsQrModal -->
        <div class="modal fade" id="chgsQrModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="chgsQrModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title fs-5" id="chgsQrModalLabel">QR Code สำหรับชำระเงิน</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center px-1">
                        <h3>คำสั่งซื้อเลขที่ {{qrpayment.id}}</h3>
                        <a :href="'https://api.qrserver.com/v1/create-qr-code/?data='+qrpayment.qrraw" target="_blank">
                            <img :src="'https://api.qrserver.com/v1/create-qr-code/?data='+qrpayment.qrraw"
                                style="width: 300px;">
                        </a>
                        <h3>จำนวน {{setFormat(qrpayment.amount)}} บาท</h3>
                    </div>
                    <div class="modal-footer bg-light">
                        <a class="btn btn-info"
                            :href="'https://api.qrserver.com/v1/create-qr-code/?data='+qrpayment.qrraw"
                            target="_blank">Download</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- productModal -->
        <div class="modal fade" id="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title fs-5" id="productModalLabel">{{product.title}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"><img :src="'https://lh3.googleusercontent.com/d/' + product.imgid"
                                style="width: 300px;"></div>

                        <div class="mt-1" style="white-space: pre-wrap;">{{product.detail}}</div>

                        <div v-if="product.optflv" class="mt-1">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">เลือกรสชาติ</th>
                                        <th scope="col" class="text-end">ราคา</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in product.flavors" style="cursor: pointer;"
                                        @click="newitem('รสชาติ '+item.flavor,item.price+product.prices)">
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{item.flavor}}</td>
                                        <td class="text-end">{{setFormat(item.price+product.prices)}}</td>
                                        <td>บาท</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div v-if="product.optpkg" class="mt-1">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">เลือกขนาดบรรจุ (กรัม)</th>
                                        <th scope="col" class="text-end">ราคา</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in product.packages" style="cursor: pointer;"
                                        @click="newitem('ขนาด '+setFormat(item.size)+' กรัม',item.price+product.prices)">
                                        <th scope="row">{{index+1}}</th>
                                        <td>{{setFormat(item.size)}} กรัม</td>
                                        <td class="text-end">{{setFormat(item.price+product.prices)}}</td>
                                        <td>บาท</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <a class="btn btn-secondary" data-bs-dismiss="modal">ปิด</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- edititemModal -->
        <div class="modal fade" id="edititemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="edititemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title fs-5" id="edititemModalLabel">เลือกรายการ</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center mb-2">
                            <img :src="'https://lh3.googleusercontent.com/d/' + this.item.imgid" style="width: 300px;">
                        </div>
                        <table class="table table-striped table-borderless table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">รายการ</th>
                                    <td>{{this.item.title}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">ตัวเลือก</th>
                                    <td>{{this.item.options}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">ราคา</th>
                                    <td class="text-end">{{setFormat(this.item.price)}} บาท</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">จำนวน</th>
                                    <td class="text-end"><input type="number" class="form-control" id="edititemqty"
                                            value="1">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <a class="btn btn-info" @click="saveitem">บันทึก</a>
                        <a class="btn btn-danger" @click="removeitem">ลบรายการ</a>
                        <a class="btn btn-secondary" data-bs-dismiss="modal">ปิด</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- newitemModal -->
        <div class="modal fade" id="newitemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="newitemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title fs-5" id="newitemModalLabel">เลือกรายการ</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-borderless table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">รายการ</th>
                                    <td>{{product.title}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">ตัวเลือก</th>
                                    <td>{{product.sltoption}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">ราคา</th>
                                    <td class="text-end">{{setFormat(product.sltprice)}} บาท</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="white-space: nowrap;">จำนวน</th>
                                    <td class="text-end"><input type="number" class="form-control" id="newitemqty"
                                            value="1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <a class="btn btn-info" @click="additem">เพิ่มลงในตะกร้า</a>
                        <a class="btn btn-secondary" data-bs-dismiss="modal">ปิด</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- checkoutModal -->
        <div class="modal fade" id="checkoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="ccheckoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title fs-5" id="checkoutModalLabel">ยืนยันคำสั่งซื้อ</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body g-3">
                        <h4 class="form-label">ข้อมูลสำหรับการจัดส่ง</h4>
                        <div class="mb-3">
                            <label for="city" class="form-label">จังหวัด</label>
                            <select class="form-select" id="city" v-model="checkout.city">
                                <option value="" disabled> -- เลือกจังหวัด -- </option>
                                <option v-for="item in getcities" :value="item">{{item}}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="zone" class="form-label">อำเภอ/เขต</label>
                            <select class="form-select" id="zone" v-model="checkout.zone">
                                <option value="" disabled> -- เลือกอำเภอ/เขต -- </option>
                                <option v-for="item in getzones" :value="item">{{item}}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">แผนที่</label>
                            <div class="d-flex justify-content-center mb-1">
                                <div id="map"></div>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-info" style="width: 300px;" @click="getMapHere">ตำแหน่งปัจจุบัน</a>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="address" class="form-label">อธิบายเพิ่มเติมเกี่ยวกับสถานที่จัดส่ง</label>
                            <textarea class="form-control" id="address" rows="3"
                                v-model.trim="checkout.address"></textarea>
                        </div>

                        <h4 class="form-label">ราคารวมค่าจัดส่ง</h4>
                        <div class="mb-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">รายการ</th>
                                        <th scope="col" class="text-end">ราคา</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>ราคาสินค้ารวม</td>
                                        <td class="text-end">{{setFormat(gettotal)}}</td>
                                        <td>บาท</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>ค่าบริการจัดส่ง</td>
                                        <td class="text-end">{{setFormat(getshippingprice)}}</td>
                                        <td>บาท</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-end" colspan="2">รวม</th>
                                        <td class="text-end">{{setFormat(checkout.total+checkout.shippingprice)}}</td>
                                        <td>บาท</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h4 class="form-label">ข้อมูลผู้สั่งซื้อ</h4>
                        <div class="mb-3">
                            <label for="username" class="form-label">ชื่อผู้สั่ง</label>
                            <input type="text" class="form-control" id="username" v-model.trim="checkout.username" />
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">โทรศัพท์</label>
                            <input type="tel" class="form-control" id="phone" v-model.trim="checkout.phone" />
                        </div>

                        <div class="mb-3">
                            <label for="phone2" class="form-label">โทรศัพท์ (สำรอง ถ้ามี)</label>
                            <input type="tel" class="form-control" id="phone2" v-model="checkout.phone2" />
                        </div>

                        <div class="mb-3">
                            <label for="chkoutdate" class="form-label">วันที่จัดส่ง</label>
                            <input type="date" class="form-control" id="chkoutdate" :min="mindate"
                                v-model="checkout.date" />
                        </div>

                        <div class="mb-3">
                            <label for="time" class="form-label">เวลา</label>
                            <select class="form-select" id="time" v-model="checkout.time">
                                <option value="" disabled> -- เลือกเวลา -- </option>
                                <option value="00:00:00">00.00 น.</option>
                                <option value="01:00:00">01.00 น.</option>
                                <option value="02:00:00">02.00 น.</option>
                                <option value="03:00:00">03.00 น.</option>
                                <option value="04:00:00">04.00 น.</option>
                                <option value="05:00:00">05.00 น.</option>
                                <option value="06:00:00">06.00 น.</option>
                                <option value="07:00:00">07.00 น.</option>
                                <option value="08:00:00">08.00 น.</option>
                                <option value="09:00:00">09.00 น.</option>
                                <option value="10:00:00">10.00 น.</option>
                                <option value="11:00:00">11.00 น.</option>
                                <option value="12:00:00">12.00 น.</option>
                                <option value="13:00:00">13.00 น.</option>
                                <option value="14:00:00">14.00 น.</option>
                                <option value="15:00:00">15.00 น.</option>
                                <option value="16:00:00">16.00 น.</option>
                                <option value="17:00:00">17.00 น.</option>
                                <option value="18:00:00">18.00 น.</option>
                                <option value="19:00:00">19.00 น.</option>
                                <option value="20:00:00">20.00 น.</option>
                                <option value="21:00:00">21.00 น.</option>
                                <option value="22:00:00">22.00 น.</option>
                                <option value="23:00:00">23.00 น.</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="note" class="form-label">หมายเหตุ</label>
                            <textarea class="form-control" id="note" rows="3" v-model.trim="checkout.note"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer bg-light">
                        <a v-if="cansaveorder" class="btn btn-info" @click="saveorder">ยืนยัน</a>
                        <a v-else class="btn btn-info disabled">ยืนยัน</a>
                        <a class="btn btn-secondary" data-bs-dismiss="modal">ปิด</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- loadingModal -->
        <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="ratio ratio-1x1" style="width: 100%;">
                            <div class="spinner-border text-info" style="width: 100%; height: 100%;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <h1 class="text-center text-info">Loading...</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    apiURL: 'https://script.google.com/macros/s/AKfycbxJujmqUlNN5H5aBluuv4ESnURaKXJc0NAsJFSLHhGc-zXd74N5Kekwi9QITTDXS5_W2g/exec',
                    loadingModal: null,
                    productModal: null,
                    newitemModal: null,
                    edititemModal: null,
                    checkoutModal: null,
                    saveOrderModal: null,
                    orderModal: null,
                    mindate: "",
                    lat: 0,
                    lng: 0,
                    page: 1,
                    userid: "U001",
                    profile: "",
                    categories: [],
                    categ: "all",
                    products: [],
                    product: {},
                    cart: [],
                    item: {},
                    itmind: -1,
                    shipping: [],
                    orders: [],
                    order: {},
                    checkout: {
                        map: null,
                        marker: null,
                        total: 0,
                        shippingprice: 0,
                        username: "",
                        date: "",
                        time: "",
                        address: "",
                        city: "",
                        zone: "",
                        lat: 0,
                        lng: 0,
                        phone: "",
                        phone2: "",
                        note: ""
                    },
                    qrpayment: {
                        id: "",
                        amount: 0,
                        qrbase: "",
                        qrraw: "001"
                    }

                }
            },
            methods: {
                showchgsqr() {
                    this.qrpayment = {
                        id: this.order.id,
                        amount: this.order.total + this.order.shippingprice,
                        qrbase: this.order.qrbase,
                        qrraw: this.order.qrraw
                    }
                    this.chgsQrModal.show();
                },

                selectorder(item) {
                    this.order = item;
                    this.orderModal.show();
                    console.log(this.order);
                },

                getorder() {
                    this.orders = [];

                    let raw = {
                        userid: this.userid
                    };
                    // console.log(raw);
                    let requestOptions = {
                        method: "POST",
                        redirect: "follow",
                        headers: { "Content-Type": "text/plain; charset=utf-8" },
                        body: JSON.stringify(raw)
                    };

                    fetch(this.apiURL + "?fn=getorders", requestOptions)
                        .then((response) => response.json())
                        .then((result) => {

                            this.orders = result;
                            // console.log(this.orders);
                        })
                        .catch((error) => {
                            console.log(error);
                            Swal.fire('Error', 'ไม่สามารถเชื่อมต่อข้อมูลได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง', 'error')
                                .then(() => {
                                    // liff.closeWindow();
                                })
                                .catch((err) => {
                                    // liff.closeWindow();
                                });
                        });
                },

                saveorder() {
                    this.loadingModal.show();

                    let raw = {
                        userid: this.userid,
                        profile: this.profile,
                        total: this.checkout.total,
                        shippingprice: this.checkout.shippingprice,
                        username: this.checkout.username,
                        date: this.checkout.date,
                        time: this.checkout.time,
                        address: this.checkout.address,
                        city: this.checkout.city,
                        zone: this.checkout.zone,
                        lat: this.checkout.lat,
                        lng: this.checkout.lng,
                        phone: this.checkout.phone,
                        phone2: this.checkout.phone2,
                        note: this.checkout.note,
                        items: this.cart
                    };

                    let requestOptions = {
                        method: "POST",
                        redirect: "follow",
                        headers: { "Content-Type": "text/plain; charset=utf-8" },
                        body: JSON.stringify(raw)
                    };

                    fetch(this.apiURL + "?fn=saveorder", requestOptions)
                        .then((response) => response.json())
                        .then((result) => {
                            console.log(result);
                            if (result.result) {
                                this.qrpayment = result;
                                this.chgsQrModal.show();

                                let message = "รายการเลขที่: " + result.id + "\n";

                                this.cart.forEach(row => {
                                    message += row.title + " " + row.options + " => " + row.qty + "\n";
                                });
                                message += "สถานที่: " + this.checkout.city + " " + this.checkout.zone + "\n";
                                message += "วันที่: " + this.checkout.date + "\nเวลา: " + this.checkout.time + "\n";
                                message += "ผู้สั่ง: " + this.checkout.username + "\nโทร: " + this.checkout.phone

                                liff.sendMessages([
                                    {
                                        type: "text",
                                        text: message,
                                    },
                                    {
                                        type: "image",
                                        originalContentUrl: "https://api.qrserver.com/v1/create-qr-code/?data=" + result.qrraw,
                                        previewImageUrl: "https://api.qrserver.com/v1/create-qr-code/?data=" + result.qrraw
                                    }
                                ])
                            }
                            this.getorder();
                            this.cart = [];
                            this.checkoutModal.hide();
                            setTimeout(() => { this.loadingModal.hide() }, 300);
                            Swal.fire('เสร็จสิ้น', 'ดำเนินการเสร็จสิ้น', 'success')
                                .then(() => {
                                    this.selectpage(3);
                                });
                        })
                        .catch((error) => {
                            console.log(error);
                            setTimeout(() => { this.loadingModal.hide() }, 300);
                            Swal.fire('Error', 'ไม่สามารถเชื่อมต่อข้อมูลได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง', 'error');
                        });
                },

                getMapHere() {
                    this.checkout.map.setView([this.lat, this.lng], 17);
                    this.getMapCenter();
                },

                getMapCenter() {
                    // console.log(map.getCenter());
                    this.checkout.lat = this.checkout.map.getCenter().lat;
                    this.checkout.lng = this.checkout.map.getCenter().lng;
                    this.checkout.marker.setLatLng(this.checkout.map.getCenter());
                    // console.log('Lat: ' + this.checkout.lat + ", Long: " + this.checkout.lng);
                },

                chkoutfrm() {
                    this.checkoutModal.show();

                    setTimeout(() => {
                        try {
                            this.checkout.map = new L.map('map').setView([this.checkout.lat, this.checkout.lng], 17)
                                .on("click", this.getMapCenter)
                                .on("move", this.getMapCenter)
                                .on("movestart", this.getMapCenter)
                                .on("moveend", this.getMapCenter);

                            this.checkout.marker = new L.marker(this.checkout.map.getCenter())
                                .bindPopup('Hello Leaflet')
                                .on("click", () => { alert('Hello World') })
                                .addTo(this.checkout.map);

                            let tiles = new L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                maxZoom: 19,
                                attribution: '© OpenStreetMap'
                            }).addTo(this.checkout.map);
                        } catch (e) {
                            // not think.
                        }
                    }, 1000);
                },

                clearcart() {
                    Swal.fire({
                        title: "ยืนยันการลบรายการทั้งหมดในตะกร้า ?",
                        icon: "question",
                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: "ยืนยัน",
                        confirmButtonColor: "#d33",
                        cancelButtonText: "ปิด"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.loadingModal.show();
                            this.cart = [];
                            setTimeout(() => {
                                this.loadingModal.hide();
                            }, 1000);
                            Swal.fire("ลบรายการเสร็จสิ้น!", "", "success");
                        }
                    });
                },

                removeitem() {
                    Swal.fire({
                        title: "ยืนยันการลบรายการ ?",
                        icon: "question",
                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: "ยืนยัน",
                        confirmButtonColor: "#d33",
                        cancelButtonText: "ปิด"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.loadingModal.show();
                            let temp = [];
                            for (let i = 0; i < this.cart.length; i++) {
                                if (i != this.itmind) temp.push(this.cart[i]);
                            }
                            this.itmind = -1;
                            this.cart = [];
                            this.cart = temp;
                            setTimeout(() => {
                                this.loadingModal.hide();
                                this.edititemModal.hide();
                            }, 1000);
                            Swal.fire("ลบรายการเสร็จสิ้น!", "", "success");
                        }
                    });
                },

                saveitem() {
                    let qty = parseInt(document.getElementById('edititemqty').value);
                    if (qty < 1 || document.getElementById('edititemqty').value == '') {
                        document.getElementById('edititemqty').value = 1;
                        document.getElementById('edititemqty').focus();
                        Swal.fire('ผิดพลาด', 'กรอกจำนวนไม่ถูกต้อง', 'error');
                    } else {
                        this.loadingModal.show();
                        this.item.qty = qty;
                        setTimeout(() => {
                            this.loadingModal.hide();
                            this.edititemModal.hide();
                        }, 1000);
                    }
                },

                edittiem(item, index) {
                    this.itmind = index;
                    this.item = item;
                    this.edititemModal.show();
                    setTimeout(() => { document.getElementById('edititemqty').value = this.item.qty }, 500);
                },

                additem() {
                    let qty = parseInt(document.getElementById('newitemqty').value);
                    if (qty < 1 || document.getElementById('newitemqty').value == '') {
                        document.getElementById('newitemqty').value = 1;
                        document.getElementById('newitemqty').focus();
                        Swal.fire('ผิดพลาด', 'กรอกจำนวนไม่ถูกต้อง', 'error');
                    } else {
                        let item = {
                            id: this.product.id,
                            categ: this.product.categ,
                            title: this.product.title,
                            detail: this.product.detail,
                            options: this.product.sltoption,
                            price: this.product.sltprice,
                            qty: qty,
                            shippingrate: this.product.shippingrate,
                            imgid: this.product.imgid
                        }
                        this.loadingModal.show();
                        this.cart.push(item);
                        setTimeout(() => {
                            this.loadingModal.hide();
                            this.newitemModal.hide();
                            this.productModal.hide();
                        }, 1000);
                    }
                },

                newitem(sltoption, sltprice) {
                    this.product.sltoption = sltoption;
                    this.product.sltprice = sltprice;
                    this.newitemModal.show();
                    setTimeout(() => { document.getElementById('newitemqty').value = 1 }, 500);
                },

                selectproduct(item) {
                    this.product = item;
                    this.product.optflv = (this.product.flavors.length > 0) ? true : false;
                    this.product.optpkg = (this.product.packages.length > 0) ? true : false;
                    this.product.sltoption = "";
                    this.product.sltprice = 0;
                    this.productModal.show();
                    // console.log(this.product);
                },

                selectcateg(categ) {
                    this.categ = categ;
                },

                selectpage(page) {
                    this.page = parseInt(page);
                },

                setFormat(number) {
                    return new Intl.NumberFormat("en-US", {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0,
                    }).format(number);
                },

                getuserid(userid, profile) {
                    // console.log([userid, profile]);
                    this.userid = userid;
                    this.profile = profile;
                    this.getorder();
                },

                initfn() {
                    this.loadingModal = new bootstrap.Modal('#loadingModal', {});
                    this.productModal = new bootstrap.Modal('#productModal', {});
                    this.newitemModal = new bootstrap.Modal('#newitemModal', {});
                    this.edititemModal = new bootstrap.Modal('#edititemModal', {});
                    this.checkoutModal = new bootstrap.Modal('#checkoutModal', {});
                    this.chgsQrModal = new bootstrap.Modal('#chgsQrModal', {});
                    this.orderModal = new bootstrap.Modal('#orderModal', {});

                    this.loadingModal.show();

                    this.getorder();

                    let d = new Date();
                    d.setDate(d.getDate() + 1);
                    this.mindate = d.getFullYear() + "-" + ("0" + (parseInt(d.getMonth()) + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
                    this.checkout.date = d.getFullYear() + "-" + ("0" + (parseInt(d.getMonth()) + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition((position) => {
                            this.lat = position.coords.latitude;
                            this.lng = position.coords.longitude;
                            this.checkout.lat = position.coords.latitude;
                            this.checkout.lng = position.coords.longitude;
                        });
                    } else {
                        console.log('Connot this get Location.');
                    }

                    let raw = {
                        userid: this.userid
                    };

                    let requestOptions = {
                        method: "POST",
                        redirect: "follow",
                        headers: { "Content-Type": "text/plain; charset=utf-8" },
                        body: JSON.stringify(raw)
                    };

                    fetch(this.apiURL, requestOptions)
                        .then((response) => response.json())
                        .then((result) => {
                            // console.log(result);
                            setTimeout(() => { this.loadingModal.hide() }, 300);
                            this.categories = result.categories;
                            this.products = result.products;
                            this.shipping = result.shipping;
                        })
                        .catch((error) => {
                            console.log(error);
                            Swal.fire('Error', 'ไม่สามารถเชื่อมต่อข้อมูลได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง', 'error')
                                .then(() => {
                                    liff.closeWindow();
                                })
                                .catch((err) => {
                                    liff.closeWindow();
                                });
                        });
                }

            },
            computed: {
                cansaveorder() {
                    return (this.userid != "" && this.checkout.city != "" && this.checkout.zone != "" && this.checkout.username != "" && this.checkout.phone != "" && this.checkout.date != "" && this.checkout.time != "") ? true : false;
                },

                getshippingprice() {
                    let shippingprice = 0;
                    let rates = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                    let zones = this.shipping.filter(row => (row.city == this.checkout.city && row.zone == this.checkout.zone));
                    if (zones.length > 0) rates = zones[0].rates;
                    this.cart.forEach(row => {
                        shippingprice = rates[row.shippingrate] > shippingprice ? rates[row.shippingrate] : shippingprice;
                    });
                    this.checkout.shippingprice = shippingprice;
                    return shippingprice;
                },

                gettotal() {
                    let temp = 0;
                    this.cart.forEach(row => {
                        temp += (row.qty * row.price);
                    });
                    this.checkout.total = temp;
                    return temp;
                },

                entrycart() {
                    return this.cart.length < 1 ? true : false;
                },

                getcities() {
                    let cities = [...new Set(this.shipping.map(row => row.city))];
                    return cities;
                },

                getzones() {
                    this.checkout.zone = "";
                    let zones = [...new Set(this.shipping.filter(row => row.city == this.checkout.city).map(row => row.zone))];
                    return zones;
                },

                getProducts() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                    return this.products.filter(row => (this.categ == 'all' || row.categ == this.categ));
                }

            },
            mounted() {
                this.initfn();
            },
        }).mount('#app');

        liff.init({ liffId: "2007095562-4Wq7GJY8" }, () => {
            if (!liff.isLoggedIn()) {
                let destinationUrl = window.location.href;
                liff.login({ redirectUri: destinationUrl });
            } else {
                liff.getProfile()
                    .then((profile) => {
                        app.getuserid(profile.userId, profile.pictureUrl);
                    })
                    .catch((err) => {
                        Swal.fire('ผิดพลาด', 'ระบบทำงานผิดพลาด', 'error')
                            .then(date => {
                                liff.closeWindow();
                            });
                        console.log("error", err);
                    });
            }
        });
    </script>
</body>

</html>